#root  {
  width: 100vw;
}

.App {
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
}

a {
  font-weight: 1.25em;
  color: #3a3a3a;
  width: fit-content;
  margin: 0 1.5rem !important;
}

.links {
  font-weight: 700;
  color: #3a3a3a;
}

.links:hover {
  color: #190cc9;
}

.content {
  margin-top: 60px;
  padding: 2rem;
  width: 100%;
}

form {
  max-width: 600px !important;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 0.5rem;
}

.btns {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: white;
  background-color: #190cc9;
  border-radius: 6px;
}